body {
    background-color: #1a1a1a;
    font-family: 'Kosugi';
}
.wrapper {

}
.top-container {
    color: #c9c9c9;
    text-align: center;
}
.top-container h3 {
    color: #c9c9c9;
}
.social {
    margin-top: 10%;
    text-align: center;
}
.social a {
    color: #c9c9c9;
    text-decoration: none;
}
.social a p {
    margin: 25px 0;
}
.social a p span {
    padding: 10px 20px;
}
.social a:hover {
    color: inherit;
}
.social a:hover p span {
    background-color: rgb(185, 38, 38);
}